﻿<%@ Page Language="C#" Inherits="System.Web.Mvc.ViewPage<MvcApplication1.Models.Customer>" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <title>FillCustomer</title>
</head>
<body>
    <div>
    <%Html.RenderPartial("partialView"); %><br/>
   viewData <%=ViewData["x"] %><br/>
   tempdata <%=TempData["x1"] %><br/>
       <form action="FillCustomer" method="post">
    Customer ID:- <input type="text" name="customerID" ><br/>
    Customer Code:- <input type="text" name="customerCode"><br/>
    Customer Amount:- <input type="text" name="customerAmount"><br/>
    <input type="submit" value="Click Here"><br/>
    </div>

</body>
</html>
